:root {
    --preto: #0d0d0d;     /* Fundo principal */
    --cinza: #1a1a1a;     /* Header, footer e cards */
    --azul: #55c7ff;      /* Cor de destaque */
    --branco: #ffffff;    /* Textos */
}

*{
    margin: 0;                 
    padding: 0;                
    box-sizing: border-box;    
    font-family: "Poppins", sans-serif;   
}

html {
    scroll-behavior: smooth;   /* Rolagem suave */
}

body {
    background: var(--preto); 
    color: var(--branco);      
}

/*  HEADER  */

.header {
     background: var(--cinza);
    width: 100%;              
    position: fixed;           
    top: 0;                    
    z-index: 999;              
    padding: 10px 0;           
    border-bottom: 1px solid rgba(255,255,255,0.2); 
}

.header section {
    width: 90%;                        
    margin: auto;                       
    display: grid;                      
    grid-template-columns: 1fr auto 1fr;
    align-items: center;               
}


.header img {
    justify-self: start; 
    height: 85px;
}

/*  NAVBAR  */

.barra_navegação {
    display: flex;
    align-items: center;              
    justify-content: center;        
    gap: 35px;                        
}

.barra_navegação a {
    text-decoration: none;
    color: var(--branco);
    font-size: 1.2rem;               
    font-weight: 600;
    transition: 0.3s;
    padding: 4px 0;                   
}

.barra_navegação a:hover {
    color: var(--azul);               
    text-decoration: underline;
}
