/* ------------------ RESET ------------------ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, sans-serif;
}

body {
    background: #000;
    color: #fff;
}

/* ------------------ HEADER ------------------ */

header {
    width: 100%;
    background: #000;
    border-bottom: 2px solid #444;
    padding: 15px 40px;

    display: flex;
    align-items: center;
    position: relative; /* permite centralizar o menu */
}

/* LOGO */

.logo-container {
    position: absolute;
    left: 40px;
    display: flex;
    align-items: center;
}

#logo-pixelpronto {
    width: 150px;
    height: auto;
    transform: translateY(6px); /* ↓↓↓ LOGO MAIS BAIXA */
}

/* MENU CENTRALIZADO */

nav {
    margin: 0 auto; /* centraliza o menu */
}

nav ul {
    display: flex;
    list-style: none;
    gap: 60px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    position: relative;
}

nav a.active::after {
    content: "";
    width: 50%;
    height: 2px;
    background: #fff;
    position: absolute;
    bottom: -8px;
    left: 25%;
}

/* ------------------ SEÇÃO CONTATO ------------------ */

.contact-section {
    padding: 40px 0;
}

h1 {
    font-size: 32px;
    margin-left: 60px;
    font-weight: 400;
}

/* Container branco do formulário */

.form-container {
    width: 60%;
    background: #fff;
    color: #000;
    margin: 40px auto;
    border-radius: 12px;
    padding: 20px 0;
}

/* Campos */

.form-group {
    text-align: center;
    padding: 35px 0;
    border-bottom: 2px solid #ccc;
}

.form-group:last-child {
    border-bottom: none;
}

.form-group label {
    font-size: 20px;
    display: block;
    margin-bottom: 15px;
}

.form-group input {
    width: 260px;
    height: 35px;
    border-radius: 20px;
    border: 2px solid #ccc;
    padding: 0 12px;
    text-align: center;
}

/* BOTÃO */

button {
    display: block;
    margin: 35px auto 25px auto; /* CENTRALIZADO */
    padding: 12px 40px;
    background: #000;
    color: #fff;
    border: 2px solid #000;
    border-radius: 20px;
    font-size: 18px;
    cursor: pointer;
}

/* ------------------ FOOTER ------------------ */

footer {
    background: #111;
    padding: 40px 30px;
    margin-top: 60px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-item {
    width: 23%;
}

.footer-item h2 {
    font-size: 28px;
}

.pixel {
    color: #fff;
}

.pronto {
    color: #00aaff;
}

.footer-item h3 {
    margin-bottom: 12px;
    font-size: 21px;
}

.footer-item ul {
    list-style: none;
}

.footer-item a {
    text-decoration: none;
    color: #fff;
}

.footer-item a:hover {
    color: #00aaff;
}

.footer-item p,
.footer-item li {
    margin-bottom: 8px;
    color: #ddd;
}

.copy {
    margin-top: 10px;
    font-size: 14px;
    color: #aaa;
}
