/*Cores padrão do site*/
:root {
--preto: #0d0d0d;
--cinza: #1a1a1a; 
--azul: #55c7ff;
--branco: #ffffff;

}

/* RESET GERAL */
* {
    margin: 0;                 /* Remove margens padrão */
    padding: 0;                /* Remove espaçamentos internos */
    box-sizing: border-box;    /* Inclui bordas dentro das medidas */
    font-family: "Poppins", sans-serif;   /* Fonte padrão */
}

html {
    scroll-behavior: smooth;   /* Rolagem suave */
}

body {
    background: var(--preto);  /* Cor de fundo */
    color: var(--branco);      /* Cor padrão do texto */
}

