/* teste */

body{
    background-color: #000;
    
}
h1 {
    color: #fff;
}

.sobre {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 60px 5%;
    background-color: #000;
}

.quem {
    background-color: #fff;
    color: #000;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
    text-align: center;
    transition: transform 0.3s ease;
}

.quem:hover {
    transform: translateY(-8px);
}

.quem h3 {
    color: #004aad;
    margin-bottom: 15px;
    font-size: 1.6;
}

.quem p {
    font-size: 1rem;
    line-height: 1.6;
}

.missao {
    background-color: #fff;
    color: #000;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
    text-align: center;
    transition: transform 0.3s ease;
}

.missao:hover {
    transform: translateY(-8px);
}

.missao h3 {
    color: #004aad;
    margin-bottom: 15px;
    font-size: 1.3rem;
}

.missao p {
    font-size: 1rem;
    line-height: 1.6;
}

.visao {
    background-color: #fff;
    color: #000;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
    text-align: center;
    transition: transform 0.3s ease;
}

.visao:hover {
    transform: translateY(-8px);
}

.visao h3 {
    color: #004aad;
    margin-bottom: 15px;
    font-size: 1.3rem;
}

.visao p {
    font-size: 1rem;
    line-height: 1.6;
}

.rodape {
  background-color: #060606;
  color: #ffffff;
  padding: 60px 8% 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  border-top: 1px solid #ffffff;
}

.rodape .coluna h3 {
  color: #0a58ff;
  margin-bottom: 15px;
  font-size: 1.2rem;
}

.pixel {
  color: #fff;
}

.pronto {
  color: #6bd7ff;
}


.rodape .coluna p,
.rodape .coluna a {
  color: #ccc;
  font-size: 0.95rem;
  line-height: 1.7;
  text-decoration: none;
  display: block;
  margin-bottom: 8px;
  transition: 0.3s;
}

.rodape .coluna a:hover {
  color: #6bd7ff;
}

/* Linha final do rodapé */
.rodape-final {
  grid-column: 1 / -1;
  text-align: center;
  margin-top: 30px;
  padding-top: 20px;
  border-top: 1px solid #ffffff;
  font-size: 0.9rem;
  color: #d3d3d3;
}

.branco {
  color: white;
}

.azul {
  color: #6bd7ff;
}
@media (max-width: 900px) {
  .rodape {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .rodape {
    grid-template-columns: 1fr;
    padding: 40px 20px;
    text-align: center;
  }

  .rodape .coluna {
    margin-bottom: 20px;
  }
}
:root {
    --preto: #0d0d0d;     /* Fundo principal */
    --cinza: #1a1a1a;     /* Header, footer e cards */
    --azul: #55c7ff;      /* Cor de destaque */
    --branco: #ffffff;    /* Textos */
}

*{
    margin: 0;                 
    padding: 0;                
    box-sizing: border-box;    
    font-family: "Poppins", sans-serif;   
}

html {
    scroll-behavior: smooth;   /* Rolagem suave */
}

body {
    background: var(--preto); 
    color: var(--branco);      
}

/*  HEADER  */

.header {
     background: var(--cinza);
    width: 100%;              
    position: fixed;           
    top: 0;                    
    z-index: 999;              
    padding: 10px 0;           
    border-bottom: 1px solid rgba(255,255,255,0.2); 
}

.header section {
    width: 90%;                        
    margin: auto;                       
    display: grid;                      
    grid-template-columns: 1fr auto 1fr;
    align-items: center;               
}


.header img {
    justify-self: start; 
    height: 85px;
}

/*  NAVBAR  */

.barra_navegação {
    display: flex;
    align-items: center;              
    justify-content: center;        
    gap: 35px;                        
}

.barra_navegação a {
    text-decoration: none;
    color: var(--branco);
    font-size: 1.2rem;               
    font-weight: 600;
    transition: 0.3s;
    padding: 4px 0;                   
}

.barra_navegação a:hover {
    color: var(--azul);               
    text-decoration: underline;
}


/*  SEÇÃO INTRODUTÓRIA DOS SERVIÇOS  */

.servicos-container {
    margin-top: 130px;                  
    text-align: center;
    padding: 30px 20px;
}

.servicos-container h2 {
    font-size: 2rem;
    color: var(--azul);               
    margin-bottom: 10px;
}

.servicos-container p {
    font-size: 1.1rem;
    line-height: 1.6;
}


/*  SEÇÃO SERVIÇOS  */

.servicos {
    padding: 60px 40px;
}

.servicos .title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 40px;
}

.servicos .title span {
    color: var(--azul);                
}

.img-centro {
    display: block;        
    margin: 25px auto;     
    max-width: 60%;        
    height: auto;         
}

/*  CARDS DE SERVIÇOS  */

.box-conteiner {
    display: flex;
    justify-content: center;
    gap: 35px;
    flex-wrap: wrap;
}

.box {
    background: var(--cinza);          
    padding: 25px;
    width: 370px;
    border-radius: 15px;
    border: 1px solid #ffffff15;        
    box-shadow: 0 0 12px #55c7ff1a;    
    transition: 0.3s;
}

.box:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 20px #55c7ff40;     
}

.box h3 {
    font-size: 1.5rem;
    color: var(--azul);                 
    margin-bottom: 15px;
    text-align: center;
}

.box p {
    font-size: 0.95rem;
    line-height: 1.6;
}

/*    BOTÃO SAIBA MAIS  */

.bnt {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 25px;
    background: var(--azul);
    color: var(--preto);
    font-weight: 600;
    border-radius: 8px;
    text-decoration: none;
    transition: 0.3s;
    text-align: center;
}

.bnt:hover {
    background: #1aa7e0;
}


/*  IMAGENS RESPONSIVAS  */

.img-responsive {
    max-width: 100%;       
    height: auto;          
    display: block;
}


.box img {
    width: 100%;           
    max-width: 180px;      
    height: auto;
    margin: 0 auto 15px;   
    display: block;
}


/*  RESPONSIVIDADE  */

@media (max-width: 900px) {

    .barra_navegação a {
        margin-left: 10px;
    }

    .box {
        width: 90%;                     
    }
}