:root {
    --preto: #0d0d0d;     /* Fundo principal */
    --cinza: #1a1a1a;     /* Header, footer e cards */
    --azul: #55c7ff;      /* Cor de destaque */
    --branco: #ffffff;    /* Textos */
}

*{
    margin: 0;                 
    padding: 0;                
    box-sizing: border-box;    
    font-family: "Poppins", sans-serif;   
}

html {
    scroll-behavior: smooth;   /* Rolagem suave */
}

body {
    background: var(--preto); 
    color: var(--branco);      
}